@import "main.scss";
@import "WelcomeViewStyle.scss";

body {
  font-family: Corbel, sans-serif;
}

.section {
  padding: 1.5rem;
}

main.section {
  padding: 0;
}

/* HEADERS */
@for $index from 1 through 6 {
  h#{$index} {
    text-transform: uppercase;
    &.title {
      font-family: "Aqua Grotesque", sans-serif;
    }

    &.is-lighter {
      font-weight: lighter;
    }
  }
}


h1 {
  &.title {
    font-size: 2.5rem;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border-width: 1px;
  border-radius: 20px;
}

svg.margin-icon {
  margin: 0 0 0 8px;
}


/* HEADER NAVIGATION */
header.section {
  padding: 0.7rem;
}

.navbar-item img {
  max-height: 3rem;
}

